*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    padding: 0 1rem;
    max-width: 100%;
    overflow: hidden;
}

header .background {
    background: url("johndeere.jpg") center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-shadow: 1.7px 1.7px black;
}

footer {
    padding: 0.5rem 0.5rem;
    background-color: #ca8e5f;
    border-top: 1px solid;
}

section {
    padding: 3rem 0;
    background-color: #ca8e5f;
}

section h1 {
    text-shadow: 1.7px 1.7px #CCCCCC;
}

section:nth-child(odd) {
    background-color: #845c37;
    color: white;
}

section:nth-child(odd) h1 {
    text-shadow: 1.7px 1.7px black;
}

nav {
    background-color: rgba(255, 255, 255, 0.33);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

nav a {
    padding: 1rem 2rem;
    color: white;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Verdana, sans-serif;
    text-shadow: 1px 1px black;
}

.icon {
    display: none;
}

nav a:hover,
nav a:active,
nav a:focus {
    background-color: rgba(132, 92, 55, 0.7);
}

#education figure {
    text-align: center;
}



table {
    max-width: 960px;
    margin: 10px auto;
}

caption {
    font-size: 1.6em;
    font-weight: 400;
    padding: 10px 0;
}

thead th {
    font-weight: 400;
    background: #8a97a0;
    color: #FFF;
}

tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
}

tr:nth-child(even) {
    background: #e8eeef;
}

th, td {
    text-align: left;
    padding: 20px;
    font-weight: 300;
}


.tellMe input, textarea {
    border: none;
    border-bottom: 1.5px solid white;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    outline: none;
    padding-top: 15px;
}

.column-left {
    width: 49%;
    float: left;
}

.column-right {
    width: 49%;
    float: right;
}

form button {
    background-color: white;
    color: #245e75;
    border: none;
    border-radius: 0.3rem;
    padding: 0.6rem 0.8rem;
}

form button + button {
    background-color: #5B3F12;
    color: white;
}

form button:hover {
    cursor: pointer;
    background-color: #ccc;
}

@media only screen and (max-width: 40.063em) {
    nav{
        position: relative;
        position: -webkit-sticky;
        position: sticky;
        background-color: #50a3e4;
    }

    header .background > div {
        min-height: 200px;
    }

    .topNavigation a:not(:first-child) {
        display: none;
    }

    .topNavigation a.icon {
        display: block;
        background-color: initial;
    }

    .topNavigation.responsive {
        position: relative;
    }

    .topNavigation.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-text {
        padding: 2em;
        text-align: center;
    }

    .header-text h1,
    .header-text p {
        margin: 0;
        color: white;
        padding: 0;
    }

    .background > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (max-width: 61.749em) and (min-width: 40.064em) {
    nav a {
        display: inline-block;
    }
    nav {
        position: relative;
        position: -webkit-sticky;
        position: sticky;
        background-color: #50a3e4;
    }

    .topNavigation a:not(:first-child) {
        display: none;
    }

    .topNavigation a.icon {
        display: block;
        background-color: initial;
    }

    .topNavigation.responsive {
        position: relative;
    }

    .topNavigation.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .container {
        padding: 0 2rem;
        max-width: 100%;
    }

    header .background > div {
        min-height: 400px;
    }

    .header-text {
        padding: 2em;
        background-color: rgba(255, 255, 255, 0.33);
        border-radius: 8rem 0rem 8rem 0rem;
        text-align: center;
        width: 50%;
        align-self: center;
    }

    .header-text h1,
    .header-text p {
        margin: 0;
        color: white;
        padding: 0;
    }

    .background > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (min-width: 61.750em) {
    .container {
        width: 64em;
        margin: 0 auto;
    }

    nav a {
        display: inline-block;
    }

    header .background > div {
        min-height: 600px;
    }

    .header-text {
        padding: 2em;
        background-color: rgba(255, 255, 255, 0.33);
        border-radius: 8rem 0rem 8rem 0rem;
        text-align: center;
        width: 50%;
        align-self: center;
    }

    .header-text h1,
    .header-text p {
        margin: 0;
        color: white;
        padding: 0;
    }

    .background > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .flex-container figure {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 120.063em) {
    nav a {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
